PORT=4000
MONGODB_URI=mongodb://localhost:27017/mecanica-pro
JWT_SECRET=supersecrettoken1234!
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
GCP_API_KEY=YOUR_GEMINI_API_KEY
TWILIO_ACCOUNT_SID=ACd3278c4ce444701d98d9c321b3ae74aa
TWILIO_AUTH_TOKEN=892a24bad50d8aefb421a4b79f4d980d
TWILIO_PHONE_NUMBER=+15738777535
