PORT=4000
MONGODB_URI=mongodb://localhost:27017/mecanica-pro
JWT_SECRET=supersecrettoken1234!
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
GCP_API_KEY=YOUR_GEMINI_API_KEY
TWILIO_ACCOUNT_SID=AC6534172e70012d86bb619add7c9b512b
TWILIO_AUTH_TOKEN=d19f80b7661981d960b52dcc5be43102
TWILIO_PHONE_NUMBER=+1234567890
